a {
    text-decoration: none;
    color: white;
}

.title_header{
    font-size: 24px;
}

.body_content{
    padding-left: 100px;
    padding-bottom: 150px;
}

.document{
    padding-bottom: 150px;
    width: 25%;
    position: absolute;
    z-index: 1;
}

.paragraph_content{
    width: 50%;
    padding-left: 550px;
    padding-top: 0px;
    position: relative;
}

/* Return button */

button{
    padding: 5px;
    background: grey;
    color: white;
    font-size: 12px;
    border: 0;
    outline: none;
    cursor: pointer;  
    width: 75px;
    margin: 20px auto 0;
    border-radius: 30px;
    z-index: 999;
}

.return_button {
    color: white;
}

/* location performed subsection */

.location_performed {
    font-size: 12px;
}

p {
    font-size: 14px;
}

.audio_control {
    z-index: 999;
}

.reach {
    display: inline-block;
    width: 290px;
    text-align: center;
    position: relative;
    bottom: 0px;
    box-shadow: 2px 2px 5px black;
    border-radius: 7px;
    padding: 10px;
    font-size: 12px;
}

/* listing for inst. */

.instrumentation {
    font-size: 12px;
}

.instrumentation_header{
    font-size: 16px;
}

/* if inst list is too long */

.instrumentation_resize {
    font-size: 11px;
}

.program_notes {
    font-size: 12px;
}

.small_text {
    font-size: 12px;
}


/* tranisition animation */

.paragraph_content {
    animation: transitionIn 2.5s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX('-10deg');
    }
    
    to {
        opacity: 1;
        transform: rotateX('0');
    }
}

.perc_list {
    font-size: 8px;
}