{% extends 'base.html' %}

{% block head %}

<link href="{{ url_for('static', filename='css/about.css')}}" rel="stylesheet">

<style>
    header{
        width: 100%;
        top: 0;
    }
    h1{
        padding-top: 75px;
    }
    body{
        background-image: 
            linear-gradient(
                to left,
                white 7%,
                transparent
        ), 
        url(static/photo/headshot_2.png);
        background-repeat: no-repeat;
        background-position: left;
        background-attachment: fixed;
        background-size: contain;
    }
</style>

{% endblock %}

{% block body %}
<main>

<div class="bio_par">
    <b>Chris Zacharias</b>
    <br>
    <button><a href="cv">Resume</a></button>
    <br><br><br>
    <div class="wrapper">
        <div class="collapsible">
            <input type="checkbox" id="collapsible_head">
            <label for="collapsible_head">
                <p>
                    is a Boston-based composer and guitarist that integrates Jazz and contemporary composition
                    to create a distinct, personal sound through the focus of blending colors and textures
                    to create unique sonorities. He values novelty through the augmentation of established 
                    principles; applying concepts via textural and motivic development, pulling from his Jazz
                    roots, and expanding the branches out to encompass contemporary and extended compositional 
                    techniques. His fundamental composition process utilizes serialist developmental ideas
                    through the manipulation of Forte numbers, finding individuality through blending various
                    theoretical frameworks of music composition. Through this process, his music has been described
                    as impressionistic, textural and ethereal by his contemporaries.
                    <br><br>
                    <div class="small_font">
                        <p>
                            * click to expand for full bio *
                        </p>
                    </div>
                </p>
            </label>
            <div class="collapsible_text">
                <p>
                    He started his musical education at Shepherd University, attending an Intro to Jazz 
                    Improvisation and Music Theory course taught under Dr. Kurtis Adams while studying Jazz Guitar 
                    under Joshua Walker. He later attended Berklee College of Music where he studied under Bob 
                    Pilkington with a focus on the jazz idiom, receiving a BM in Jazz Composition. Post-graduation, 
                    Chris has transitioned towards contemporary composition through the pursuit of self-study - 
                    integrating ideas of set theory, Messiaen’s harmonic and rhythmic ideas, the use of golden ratio, 
                    Fibonacci sequence, Tonnetz strip, and the utilization of jazz theory, under the umbrella of 
                    developmental ideas prevalent in 12 tone music. This shift in focus has led to performances from 
                    the Boston-based New Jazz Orchestra to the California-based Pacific Chamber Orchestra. He continues 
                    to compose for a variety of ensembles straddling the line between contemporary and jazz composition.
                </p>
                <br>
                <p>
                    Fundamentally, composition is a pursuit of individuality and self-expression: a journey of self-reflection
                    as to how we assimilate into our environment in both our local communities to the grander cultural
                    landscape and one's willingness to accept or reject norms and traditions that exist. This 
                    alignment, or lack thereof, to tradition connects the music to both the audience and musicians,
                    cultivating a shared experience and consequentially diversifying the cultural hegemony into 
                    something that's conducive to an acceptance of diverse ideas. In seeking a unique soundscape,
                    I try to keep this in mind. Expanding my horizons to deepen my understanding of past compositional
                    practice allows me to understand my position and if, and how, I am retreading ground that's already 
                    been paved by those who came before me.
                </p>
                <br>
                <p>
                    Developing interest in both music and composition during his collegiate years, Chris' extracurricular
                    activities focus on other aspects of life. His current interest is learning how to code, focusing
                    on Python, HTML, CSS, and JavaScript programing languages, utilizing Flask for website development
                    along with developing other programs to help synthesis certain procedural tasks during pre-composition.
                    Alongside learning to code, he finds fulfillment in developing his artistic expression through painting
                    abstract pieces where, like his compositions, he focuses on the blending of colors and textural ideas.  
                </p>
            </div>
        </div>
    </div>
</div>
</main>


{% endblock %}