{% extends 'base.html' %}

{% block head %}

<link href="{{ url_for('static', filename='css/article.css')}}" rel="stylesheet">


<style>
    header{
        width: 100%;
        top: 0;
    }
    h1{
        padding-top: 75px;
    }

</style>

{% endblock %}

{% block body %}

<main>
    <div class="return__link">
        <li>
            <a href="reference">Return</a>
        </li>
        <br>
        <li>
            <a href="set_theory_list">Set Theory List</a>
        </li>
        <br>
        <li>
            <a href="kh">Kh Relations</a>
        </li>
        <br>
        <li>
            <a href="equations">Equations</a>
        </li>
        <br><br>
        <h2>Tonal and Post-Tonal Harmony</h2>
        <br><br>
    </div>
<div class="articles">
    <div class="Atonal_Theory">
        <h2>Atonal Theory</h2>
        <br>
        <h3>Set Theory</h3> 
        <br>
        <p>
            <li>
                Forte, Allen <i>The Structure of Atonal Music</i> Yale University 1973
            </li>
            <li>
                Lewin, David <i>Special Cases of the Interval Function between Pitch Class Sets X and Y</i>
            </li>
            <li>
                Martino, Donald <i>The Source Set and its Aggregate Formations</i> Journal of Music Theory Vol. 5 1961
            </li>
            <li>
                Morris, Robert and Starr, Daniel <i>The Structure of All-Interval Series</i> Journal of Music Theory Vol. 18
            </li>
            <li>
                Rahn, John <i>Basic Atonal Theory</i> Schirmer Books 1980
            </li>
            <li>
                Rahn, John <i>On Pitch or Rhythm: Interpretations of Orderings of and in Pitch and Time</i> Perspectives of New Music Vol. 13
            </li>
            <li>
                Starr, Daniel <i>Sets, Invariance and Partitions</i>
            </li>
            <li>
                Tymoczka, Dmitri <i>Approximate Set Theory</i>
            </li>
            <li>
                Visconti, Ciro <i>Axis of Contextual Inversion</i>
            </li>
        <br>
        <b>Intervals</b>
        <br><br>
            <li>
                Block, Steven and Douthett, Jack <i>Vectow Products and intervallic Weighting</i>
            </li>
            <li>
                Goyette, Jeremiah <i>Pumping the All-Interval Tetrachords: Algorithms for Generating Z-Related Sets</i>
            </li>
            <li>
                Peck, Robert W. <i>All-(Generalized)-Interval(-System) Chords</i> Louisiana State Universtiy
            </li>
            <br>
        <b>Twelve Tone</b>
        <br><br>
            <li>
                Lefkowitz, David S. Taavola, Kirstin <i>Segmentation in Music: Generalizing A Piece-Sensitive Approach</i>
            </li>
            <li>
                Lewin, David <i>A theory of segmental association in twelve tone music</i>                 
            </li>
            <li>
                Mead, Andrew <i>Some Implications fo the Pitch Class/Order Number Isomorphism Inherent ini the Twelve-Tone System</i> Perspectives of New Music Vol. 26 1988
            </li>
            <li>
                Mead, Andrew <i>Twelve-Tone Organizational Strategies: An Analytical Sampler</i> Intêgral Vol. 3 1989
            </li>
            <li>
                Perle, George <i>An Approach to Simultaneity in Twelve Tone Music</i>
            </li>
        <br>
        <b>Milton Babbitt</b>
        <br><br>
            <li>
                Babbitt, Milton <i>Set Structure as a Compositional Determinant</i> Journal of Music Theory Vol. 5 1961
            </li>
            <li>
                Babbitt, Milton <i>Twelve-Tone Invariants as Compositional Determinants</i> The Musical Quarterly Vol. 46 1960
            </li>
            <li>
                Babbitt, Milton <i>Twelve-Tone Rhythmic Structure and the Electronic Medium</i> Perspectiives of New Music Vol. 1 1962
            </li>
            <li>
                Dubiel, Joseph <i>Three Essays on Milton Babbitt</i> Perspectives of New Music Vol.28 1990
            </li>
        <br>
        <b>Alban Berg</b>
        <br><br>
            <li>
                Stroh, Wolfgang Martin <i>Alban Berg's "Constructive Rhythm"</i> Perspectives of New Music Vol. 7 1968
            </li>
        <br>
        <b>Schoenberg</b>
        <br><br>
        <div class="Docinfo_Continuities">
            <li>
                <span><u>Koivisto, Tiina <i>Musical Continuities in Schoenberg's Variations for Orchestra</i> Theory and Practice Vol. 20 1995</u></span>
                <span class="Docinfo_Continuities_Content">
                    <b>Introduction</b>
                    <br><br>
                    How do ways in which the chromatic universe allows itself to be organized
                    
                </span>
            </li>
        </div>
        <br>
            <li>
                Mead, Andrew <i>Large-Scale Strategy in Arnold Schoenberg's Twelve Tone Music</i> Perspectives of New Music Vol. 24 1985
            </li>
            <li>
                Taylor, Nooel Heath <i>The Schoenberg Concept</i> Music & Letters Vol. 20 1939
            </li>
        </p>
    </div>
    <div class="Tonal_Harmony">
        <h3>Post Tonal Theory</h3>
        <br>
        <p>
        <b>Béla Bartók</b>
        <br><br>
            <li>
                Bennett, James N. <i>Béla Bartók's Evolution of Tonal Resources</i>
            </li>
            <li>
                Lendvai, Ernö <i>Béla Bartók</i> Kahn & Averill 2000
            </li>
            <li>
                Marins, Oliveira José <i>Barók's Polymodality: The Dasian and Other Affinity Spaces</i> Journal of Music Theory Vol. 59
            </li>
            <li>
                Suchoff, Benjamin <i>Background and Sources of Bartók's Concerto for Orchestra</i> International Journal of Musicology Vol. 9 2000
            </li>
        <br>
        <b>Elliott Carter</b>
        <br><br>
        <div class="docinfo_CUP">
            <li>
                <u>Capuzzo, Guy <i>The Complement Union Property in the Music of Elliott Carter</i></u>
                <ul class="docinfo_CUP_content">
                    <li>
                        <b>I</b>
                        <br><br>
                        CUP (Complement Union Property): the union of any member of <i>sc</i> <br>
                        X with any non-intersecting member of <i>sc</i> Y is <i>always</i> <br>
                        a member of <i>sc</i> Z, where Set class consistency is not guaranteed <br>
                        when one combines any member of one set class with each non-intersecting <br>
                        member of a second set class.
                        <br><br>
                        <b>II</b>
                        <br><br>
                        <b>Definition I:</b> The term <b>X ∪ Y CUP with</b> scs X and Y if for all <br>
                        non-intersecting pcsets x ∈ <i>sc</i> X and y ∈ <i>sc</i> Y. x ∪ y is always <br>
                        a member of <i>sc</i> Z
                        <br><br>
                        <b>Definition II:</b> The term <b>X ∪ Y CUP partition of <i>sc</i> Z</b> denotes <br>
                        two scs X and Y with which <i>sc</i> Z has CUP
                        <br><br>
                        <b>Definition III:</b> A <b>realization</b> of an X ∪ Y CUP partition of <Br>
                        <i>sc</i> Z consists of the union of any non-intersecting pcsets x ∈ <i>sc</i> X <br>
                        and y ∈ <i>sc</i> Y
                        <br><br>
                        <b>Definition IV:</b> If S is a set and G is a group
                        <br>
                        An <b>action</b> of G on S assigns to each g in G a transformation on a set S. <br>
                        Which maps any element s of S to an element denoted <i>(s)(g).</i> These <br>
                        transformations describe how the elements of the group G <b>act</b> on the <br>
                        set S
                        <br><br>
                        <b>Definition V:</b> Suppose the group G acts on the set S, and let s be an element of S 
                        <br>
                        The <b>orbit</b> of s is the subset of S consisting of all elements of the form <br>
                        <i>(s)(g)</i> as g ranges through the elements of the group G
                        <br><br>
                        <b>Definition VI:</b> Given an orbit J containing n elements
                        <br>
                        an <b>orbit subset</b> of J is a subset of J that contains x elements, where <br>
                        0 &lt x &lt n
                    </li>
                </ul>
            </li>
        </div>
        <br>
        <li>
            Capuzzo, Guy <i>Registral Constraints on All-Interval Rows in Elliott Carter's Changes</i>
        </li>
        <br>
        <b>neo-Riemannian Theory</b>
        <br><br>
            <li>
                Cohn, Richard <i>Audacious Euphony</i> Oxford University Press 2012
            </li>
            <li>
                Ulehla, Ludmiila <i>Contemporary Harmony</i> Advance Music 1994
            </li>
        </p>
        <br>
        <b>Olivier Messiaen</b>
        <br><br>
            <li>
                Messiaen, Olivier <i>The Technique of my Musical Language</i>
            </li>
        <br>
        <b>Other Harmony</b>
        <br><br>
            <li>
                Hasty, Christopher F. <i>On the Problem of Succession and Continuity in Twentieth-Century Music</i> Music Theory Spectrum Vol. 8 1986
            </li>
            <li>
                Schultz, Rob <i>Normalizing Musical Contour Theory</i> Journal of Music Theory Vol. 60 
            </li>
        <br>
        <b>Rhythm</b>
        <br><br>
        <li>
            Grant, Roger Mathew <i>Leonhard Euler's Unfinished Theory of Rhythm</i>
        </li>
        <li>
            Hasty, Christopher <i>Rhythm in Post Tonal Music</i>
        </li>
        <li>
            Honing, Henkjan <i>Structure and Interpretation of Rhythm in Music</i> The Psychology of Music
        </li>
        <li>
            Yust, Jason <i>Periodicity-Based Descriptions of rhythms and Steve Reich's Rhythmic Style</i> Journal of Music Theory
        </li>
        <br>
        <b>Contextual Inversion</b>
        <br><br>
        <div class="docinfo_CIS">
            <li>
                <u>Straus, Joseph N. <i>Contextual-Inversion Spaces</i> Journal of Music Theory </u>
                <ul class="docinfo_CIS_content">
                    <li>
                        <b>Abstract </b>This article creates transformational spaces for interpreting<br> 
                        progressions of sets belonging to the same T/I equivalence class. Within these <br>
                        spaces, sets are placed in proximity based upon <i>contextual inversion,</i> <br>
                        specifically those contextual inversions that (like the familiar neo-Riemannian <br>
                        L, P, and R) preserve common tones. Sequential enchaining of contextual inversions <br>
                        will generally define simple, straight-line motions within the spaces described <br>
                        in this article. The musical motions of works by Webern, Schoenberg, and Stravinsky <br>
                        are measured against the systemicstandard enshrined in the spaces, with both <br>
                        conformity and deviation suggesting interpretive possibilities. 
                        <br><br>
                        <b><u>Introduction: </u></b> 
                        <br><br>
                        <i>Compositional spaces</i> (transformational space) are created via <br>
                        interpreting progressions of sets belonging to the same T/I equivalence <br>
                        class. Sets are placed in proximity based on contextual inversion. Contextual <br>
                        inversion spaces provide a spatial representation that places each set <br>
                        in close proximity to sets related by inversion around shared tones and <br>
                        permit interpretation of harmonic motions among inversionally equivalent sets <br>
                        in embodied terms.
                        <br><br>
                        The purpose of this paper is and extension of David Lewin's idea of <br>
                        <i>contextual inversion</i>. Lewin's interest in a transformation in which one <br>
                        or more notes of a series or collection are fixed and the remainin notes invert <br>
                        around them.This common tone preserving inversion idea falls in line with neo-<br>
                        Riemannian theory, especially with the concept of RI-chaining.
                        <br><br>
                        <b><u>Trichordal RI-Chains:</u></b>
                        <br><br>
                        Ri-Chaining (RICH) trichords superimpose the prime and inverted (and transposed) form <br>
                        such that the last two notes of the first series (prime form) become the first two notes <br>
                        of the second (inverted). In total, there are three distinct orderings for any trichord: <br>
                        <i>x-y-z, x-z-y, and y-x-z</i>.
                        <br><br>
                        <b><u>Combination Cycle</u></b>
                        <br><br>
                        <i>Combination Cycles</i>, from Lambert (1990), refers to the individual pitch classes within <br>
                        each series and especially the ordered pitch-class intervals between them. (With this, trichordal<br>
                         RI-chains can be thought of as segments (called Combination cycles))
                         <br><br>
                         RI-chains and combination cycles offer two complementary perspectives on the same musical <br>
                         phenomenon, with RI-chains focusing attention on the serial pitch relations and combination <br>
                         cycles on the corresponding interval relations. Every combination cycle entails a trichordal <br>
                         RI-chain, and every RI-chain entails a combination cycle of directed pc-intervals.
                        <br><br>
                        <b><u>Neo-Riemannian LPR-relations and Tonnetze for all twelve trichord classes</u></b>
                        <br><br>
                        For any trichord, there are three contextual inversions that map any two of its pc onto each <br>
                        other. (ideas from Richard Cohn's Audacious Euphony LPR-relations, formulas are shown in <br>
                        equations section)
                    </li>            
                </ul>
            </li>
        </div>
        <br>
        <li>
            Visconti, Ciro <i>Axis of Contextual Inversion</i>
        </li>
        <li>
            Yust, Jason <i>Decontextualizing Contextual Inversion</i>
        </li>
    </div>
</div>
</main>


{% endblock %}