{% extends 'base.html' %}

{% block head %}

<link href="{{ url_for('static', filename='css/individual_score.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}

<main>
    <div class="body_content">
        <div class="title_header">
            <b>Bird On A Wire</b> 2024 (<i>c.a. 6 minutes</i>)
        </div>
        <div class="instrument_subheader">
            <i>for Jazz Big Band</i>
        </div>
        <button><a href="scores">Return</a></button>
        <br><br>
        <div class="document">
            <embed src="static/pdf/BOAW_Perusal.pdf" width="500px" height="645px">
        </div>
        <div class="paragraph_content">
            <div class="audio_controls">
                <audio controls>
                    <source src="{{ url_for('static', filename='audio/Zacharias_BOAW.mp3')}}"> <br>
                </audio>
                <br>
                <div class="small_text">
                    <i>Midi audio representation</i>
                </div>
            </div>
            <br><br>
            <b>Premiere Performances</b>
            <br>
            <div class="location_performed">
                <i>NJO conducted by David Wright in Boston, Ma (December 5th 2023)</i>
            </div>
            <br><br>
            <h2><b>Program Notes</b></h2>
            <br><br>
            <p>
            Initially, I had envisioned a scene in a circus in which a tightrope walker was about to perform.
            Where the composition would encompass the influx of tension as the performer would play to the audience.
            Towards the latter part of the development of this piece. The scene had changed to that of a
            bird traversing a telephone wire. I had seen videos of animals being shocked by
            touching wires or boxes attached, so that idea was the crux of conflict within the piece.
            Will they die? Will they live?
            <br><br>
            Throughout my composition journey, I've always wanted the ability to weave tonal
            and atonal elements together in creating a grander experience or narrative. I wanted
            aspects of this piece to feel as though everything was about to unravel, only to be saved
            by the strong rhythmic foundation of the foundamental idea. 
            <br><br>
            A heavy inspiration for this piece is <b>Jim McNeely's</b> <i>Absolution</i>, Where
            the quirky dotted quarter note rhythm present in the left hand piano, the immediate introduction
            of the melody, and the chaotic descending motiffs present throughout that score are utilized here
            under different context and pitch material.
            </p>
            <br><br>
                <b>Instrumentation</b>
                <br><br>
                <div class="instrumentation">
                    <i>
                    2 Alto Sax <br>
                    2 Tenor Sax <br>
                    Baritone Sax
                    <br><br>
                    4 Trumpet
                    <br><br>
                    3 Trombone <br>
                    Bass Trombone
                    <br><br>
                    Vibraphone (motor on throughout) <br>
                    Electric Guitar <br>
                    Piano <br>
                    Acoustic Bass <br>
                    Drum Set
                    </i>
                </div>
                <br><br>
                <div class="reach">
                    <p>
                        For inquiries about scores and parts, reach out to
                        <br>
                        <b>Zachachr40@gmail.com</b>
                    </p>
                </div>
        </div>
    </div>
</main>




{% endblock %}