{% extends 'base.html' %}

{% block head %}

<link href="{{ url_for('static', filename='css/individual_score.css')}}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/lying_down.css')}}" rel="stylesheet">

{% endblock %}

{% block body %}

<main>
    <div class="body_content">
        <div class="title_header">
            <b>Lying Down</b> 2024 (<i>c.a. 8 minutes</i>)
        </div>
        <div class="instrument_subheader">
            <i>Pierrot Ensemble w/2 Percussion</i>
        </div>
        <button><a href="scores">Return</a></button>
        <br><br>
        <div class="document">
            <embed src="static/pdf/Lyingdown_perusal.pdf" width="500px" height="645px">
        </div>
        <div class="paragraph_content">
            <p>
                <div class="audio_controls">
                    <audio controls>
                        <source src="{{ url_for('static', filename='audio/Zacharias_lyingdown.wav')}}"> <br>
                    </audio>
                    <br>
                    <div class="small_text">
                        <i>Performed at New Music at the Bayou</i>
                    </div>
                </div>
                <br><br>
            <div class="poem_title">
                Lying Down
            </div> 
            <div class="poem_author">
                Robert Desnos
            </div>
            <br>
            <div class="poem_content">
                <i>
                To the right, the sky, to the left, the sea.
                <br>
                And before your eyes, the grass and its flowers.
                <br>
                A cloud, the road, follows its vertical way.
                <br>
                Parallel to the plumbline of the horizon,
                <br>
                Parallel to the rider.
                <br>
                The horse runs toward its imminent fall
                <br>
                And the other climbs interminable.
                <br>
                How simple and strange everything is.
                <br>
                Lying on my left side
                <br>
                I take no interest in the landscape
                <br>
                And I think only of things that are very vague,
                <br>
                Very vague and very pleasant,
                <br>
                Like the weary gaze you walk around with
                <br>
                On this beautiful summer afternoon
                <br>
                To the right, to the left
                <br>
                Here, there
                <br>
                In the delirium of uselessness.
                </i>
            </div>
            <br><br>
            <div class="prem_perf">
                <b>Premiere Performances</b>
            </div>
                <div class="location_performed">
                    <i>New Music on the Bayou</i>
                </div>
            <br><br>
            <div class="program_notes">
            <h2><b>Program Notes</b></h2>
            <br>
            <p>
            I discovered Lying Down from <i>Mary Ann Caws 
            Essential Poems and writings of Robert Desnos </i>
            while pursuing an interest in surrealist poetry 
            and art styles. What struck me was the juxtaposition 
            of the natural environment and perceiving it in a 
            novel way, alongside the languid framing by the 
            narrator that coincided with my interest in developing 
            a piece that could emulate dreamscapes. The listless 
            nature of the poem allowed me to shift textures without 
            necessarily focusing on maintaining continuity. As new
            information is established, new ideas are presented 
            and later discarded, focusing on the overall effect 
            each line brings to the composition in order to paint 
            a grander textural environment.
            </p>
            <br><br>
            <h3><b>Instrumentation</b></h3>
            <br><br>
            <div class="instrumentation_resize">
                <i>
                Soprano <br>
                <br>
                Flute <br>
                B<sup>b</sup> Clarinet <br>
                Violin <br>
                Cello
                <br><br>
                Piano <i>(w/hard mallet)</i>
                <br><br>
                Percussion I:
                <div class="perc_sub">
                    <h4 style="text-indent: 25px;">(Vibraphone, [w/bow (2)], Crotales [1 octave], 5 Wood blocks)</h4> <br>
                </div>
                <br>
                Percussion II: <br>
                <div class="perc_sub">
                    <h4 style="text-indent: 25px;">(Glockenspiel, Suspended cymbal, Tambourine, 3 Toms, Bass Drum)</h4> 
                </div>
                </i>
                <br><br><br><br><br>
                <div class="reach">
                    <p>
                        For inquiries about scores and parts, reach out to
                        <br>
                        <b>Zachachr40@gmail.com</b>
                    </p>
                </div>
            </div>
            </div>
        </div>
    </div>
</main>



{% endblock %}