{% extends 'base.html' %}

{% block head %}

<link href="{{ url_for('static', filename='css/individual_score.css')}}" rel="stylesheet">


{% endblock %}

{% block body %}

<main>
    <div class="body_content">
        <div class="title_header">
            <b>Maxwell</b> 2023 (<i>c.a. 6 minutes</i>)
        </div>
        <div class="instrument_subheader">
            <i>for Sextet</i>
        </div>
        <button><a href="scores">Return</a></button>
        <br><br>
        <div class="document">
            <embed src="static/pdf/Zacharias_Maxwell.pdf" width="515px" height="334px">
        </div>
        <div class="paragraph_content">
            <b>Premiere Performances</b>
            <br>
            <div class="location_performed">
                <i>Student Recital Performance conducted by Chris Zacharias in Boston, Ma</i>
            </div>
            <br>
            <audio controls>
                <source src="{{ url_for('static', filename='audio/Zacharias_Maxwell.mp3')}}">
            </audio>
            <div class="small_text">
                <i>Acoustic guitar replaced by electric guitar in recording</i>
            </div>
            <br><br>
            <b>General Thoughts</b>
            <br><br>
            <p>
            Maxwell is the only piece in my catalogue that followed me throughout my years
            at Berklee College of Music. I remember the first section (up until solos) came
            as a kind of divine inspiration off of a prompt from a groove writing course I 
            took during my first few semesters at school. The piece was later used in a course
            that went through the basics of Protools where we needed to provide background 
            material for a commerical of Maxwell's coffee. I had felt that this piece would
            fit perfectly with the atmosphere of the video commerical and opted to name the 
            piece after the company. Thus Maxwell was fully realized.
            </p>
            <br><br>
            <b>Instrumentation</b>
            <br><br>
            <div class="instrumentation">
                <i>
                B<sup>b</sup> Trumpet <br>
                Alto Sax <br>
                Trombone
                <br><br>
                Acoustic Guitar <br>
                Acoustic Bass <br>
                Drum Set
                </i>
            </div>
            <br><br>
            <div class="reach">
                <p>
                    For inquiries about scores and parts, reach out to
                    <br>
                    <b>Zachachr40@gmail.com</b>
                </p>
            </div>
        </div>
    </div>
</main>



{% endblock %}