{% extends 'base.html' %}

{% block head %}

<link href="{{ url_for('static', filename='css/individual_score.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}

<main>
    <div class="body_content">
        <div class="title_header">
            <b>Redfin</b> 2024 (<i>c.a. 3<sup>1</sup>/<sub>2</sub> minutes</i>)
        </div>
        <div class="instrument_subheader">
            <i>for Quintet</i>
        </div>
        <button><a href="scores">Return</a></button>
        <br><br>
        <div class="document">
            <embed src="static/pdf/Zacharias_Redfin.pdf" width="500px" height="645px">
        </div>
        <div class="paragraph_content"> 
                <br>
            <h2><b>General Thoughts</b></h2>
            <br><br>
            <p>
                Redfin was an exercise in developing methods of retaining set class 
                through the transposition and inversion developmental techniques expressed 
                by <b>Joseph N. Straus</b> in his paper <i>Contextual-Inversion Spaces</i> alongside 
                <b>Ciro Visconti’s</b> paper <i>Axis of Contextual Inversion</i> from a cell derived 
                from ideas expressed by <b>Guy Capuzzo’s</b> paper <i>The Complement Union Property 
                in the music of Elliott Carter</i>. The equations are taken from John Rahns 
                book, <i>Basic Atonal Theory</i>.
            <br><br>
                An idea that seems tangential to the realm of set theory is the literary 
                device of synecdoche, the figure of speech in which a part is made to 
                represent the whole. This idea, I believe, is represented through the CUP 
                or Complementary Union Property expressed by Capuzzo, which in essence is 
                defined as <i>the union of any member of set class X with any non-intersecting 
                member of set class Y is always a member of set class Z.</i> These divisions
                provide unique splashes of colour, or rather, a modal application of a larger 
                set class.
            </p>
            <br><br>
            <b>Instrumentation</b>
            <br><br>
            <div class="instrumentation">
                <i>
                B<sup>b</sup> Clarinet <br>
                Acoustic Guitar <br>
                Violin <br>
                Cello <br>
                Piano
                </i>
            </div>
            <br><br>
            <div class="reach">
                <p>
                    For inquiries about scores and parts, reach out to
                    <br>
                    <b>Zachachr40@gmail.com</b>
                </p>
            </div>
        </div>
    </div>
</main>



{% endblock %}