{% extends 'base.html' %}

{% block head %}

<link href="{{ url_for('static', filename='css/individual_score.css')}}" rel="stylesheet">

{% endblock %}

{% block body %}

<main>
    <div class="body_content">
        <div class="title_header">
            <b>Reflections</b> 2024 (<i>c.a. 6 minutes</i>)
        </div>
        <div class="instrument_subheader">
            <i>for Solo Guitar</i>
        </div>
        <button><a href="scores">Return</a></button>
        <br><br>
        <div class="document">
            <embed src="static/pdf/Zacharias_Reflections.pdf" width="500px" height="645px">
        </div>
        <div class="paragraph_content"> 
            <br><br>
            <h2><b>General Thoughts</b></h2>
            <br><br>
            <p>
            For a while, I had been focusing on incorporating everything I've learned compositionally
            and utilizing that knowledge towards written music, all the while, my guitar sat collecting
            dust in the far corner of the room. I wanted to write a piece of music that a layman like myself
            could learn to play while still retaining the dense harmonic language of my previous pieces.
            </p>
            <Br><br>
            <b>Instrumentation</b>
            <br><br>
            <div class="instrumentation">
                <i>
                Acoustic Guitar <br>
                <br>
                * This piece was written for steel string guitar (Gretsch G9200 Boxcar Resonator)
                </i>
            </div>
            <br><br><br><br><br><br><br>
            <div class="reach">
                <p>
                    For inquiries about scores and parts, reach out to
                    <br>
                    <b>Zachachr40@gmail.com</b>
                </p>
            </div>
        </div>
    </div>
</main>



{% endblock %}