<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/list.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/footer.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/individual_score.css')}}" rel="stylesheet">
        <h1>C<sub>Z</sub></h1>
        <header class="header">
        <ul>
            <li><a href="about">Home</a></li>
            <li>   
                <a href="scores">Score</a>
            </li>
            <li>
                <a href="">Reference</a>
                <ul class="dropdown_2">
                    <li><a href="set_theory_list">Set Theory</a></li>
                    <li><a href="articles">Articles</a></li>
                    <li><a href="equations">Equations</a></li>                    
                </ul>
            </li>
        </ul>
        <hr>
        </header>
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <footer>
            <style>
                footer{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 2.5 rem;
                }
            </style>
            <div class="footercontainer">
                <div class="footerNav">
                    <ul>
                        Zachachr40@gmail.com
                    </ul>
                </div>
                <div class="footerbottom">
                    Copyright &#169 2023 Chris Zacharias
                    <br>
                    All Rights Reserved
                </div>
            </div>
        </footer>
    </body>
</html>