{% extends 'base.html' %}

{% block head %}

<link href="{{ url_for('static', filename='css/individual_score.css')}}" rel="stylesheet">

{% endblock %}

{% block body %}

<main>
    <div class="body_content">
        <div class="title_header">
            <b>Waking Up</b> 2022 (<i>c.a. 7 minutes</i>)
        </div>
        <div class="instrument_subheader">
            <i>for Chamber Orchestra</i>
        </div>
        <button><a href="scores">Return</a></button>
        <br><br>
        <div class="document">
            <embed src="static/pdf/Zacharias_Waking_Up.pdf" width="500px" height="645px">
        </div>
        <div class="paragraph_content">
            <div class="audio_controls">
            <audio controls>
                <source src="{{ url_for('static', filename='audio/Zacharias_Waking Up.mp3')}}"> <br>
            </audio>
            <br>
            <div class="small_text">
                <i>Midi audio representation</i>
            </div>
            <br><br>
            <b>Instrumentation</b>
            <br><br>
            <div class="instrumentation">
                <i>
                Flute <br>
                Oboe <Br>
                B<sup>b</sup> Clarinet <br>
                Bassoon
                <br><br>
                2 Pedal Timpani
                <br><br>
                Harp
                <br><br>
                4 Violin I <br>
                3 Violin II <br>
                3 Viola <br>
                2 Cello <br>
                Double Bass
                </i>
            </div>
            <br><br><br><br><br><br>
            <div class="reach">
                <p>
                    For inquiries about scores and parts, reach out to
                    <br>
                    <b>Zachachr40@gmail.com</b>
                </p>
            </div>
        </div>
    </div>
</main>



{% endblock %}